@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>

<p>
    Somos estudantes da Uninove, que criamos esse site para ajudar e facilitar pessoas a encontrar e
    adotar seus bichinho de estimação
</p>

<hr />
<h3>
    Para Cadastrar um Pet.
</h3>
<p>O usuario deve está logado</p>
<p>E fornecer os dados do Pet</p>

<hr />


<h3>
    Para Adotar um Pet.
</h3>
<p>O usuario não precisa está logado</p>
<p>Apertar em Adotar e entrar em contato com o Usuario que Colocou o Pet</p>

<hr />



